<!-- head -->
<%- include("./inlcudes/global/head.ejs") %> 

</head>

    <body>

        
        <header>

            <%- include("./inlcudes/global/topNav.ejs") %> 

        </header>

        <%- include("./inlcudes/global/scripts.ejs") %> 
        
    </body>

</html>