<!-- head -->

<%- include("../inlcudes/global/head.ejs") %> 
<link rel="stylesheet" href="../CSS/blog_css/admin_blog.css">
<link rel="stylesheet" href="../../CSS/blog_css/blogSpecial.css">
</head>

    <body>

        
        <header>
            <%- include("../inlcudes/global/topNav.ejs") %> 
        </header>


        <div class="master_container">            

            <%- include("../inlcudes/blog/form.ejs") %> 

        </div><!-- end master_container -->
        
        <%- include("../inlcudes/global/scripts.ejs") %> 
    </body>

</html>